<odoo>
	<data>
		<record id="action_view_adh_mrp_pemeriksaan_alat_form" model="ir.actions.act_window">
            <field name="name">Pemeriksaan Keruksaan Alat</field>
            <field name="res_model">adhimix.mrp.pemeriksaan.kerusakan.alat</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
            <field name="domain">[]</field>
            <field name="context">{}</field>
            <field name="help" type="html">
            	<p class="oe_view_nocontent_create">
            		Click to add a data
            	</p>
            </field>
        </record>
        

		<menuitem id="menu_mrp_pemeriksaan_kerusakan_alat"
		            name="Pemeriksaan Kerusakan Alat"
		            action="action_view_adh_mrp_pemeriksaan_alat_form"
		            parent="stock.menu_stock_warehouse_mgmt"
		            sequence="10"/>

	</data>
</odoo>